{% extends "compra/base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="container">
      <div class="row justify-content-center">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Compra</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">
                <th>
                </tr>
              </thead>
              <tbody>
                {% for compra in compras %}
                  {% if compra.status == True %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ compra.compra }}</td>
                      <td>{{ compra.total }}</td>
                      <td class="text-success">PAGADO</td>
                      <td>
                        <a class="link-danger" href="/cancelar/{{ compra.id }}">
                          <i class="fa-solid fa-xmark"></i>
                        </a>
                      </td>
                    </tr>
                  {% else %}
                    <tr class="text-secondary">
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ compra.compra }}</td>
                      <td>{{ compra.total }}</td>
                      <td class="text-secondary">CANCELADO</td>
                      <td>
                        <i class="fa-solid fa-ban" style="color: #808080;"></i>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        <div>No tienes tickets comprados.</div>
      {% endif %}
    {% endblock content %}
