{% extends "compra/base.html" %}
{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="bg-{{ message.tags }} text-white"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row justify-content-center">
                <table class="table w-auto">
                    <thead>
                      <tr>
                        <th scope="col">Ticket</th>
                        <th scope="col">Compra</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                        <tr>
                          {% comment %} <th scope="row">{{ forloop.counter }}</th> {% endcomment %}
                          <td>{{ ticket.codigo }}</td>
                          <td>{{ ticket.compra }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="row justify-content-center">
                <a class="text-white w-auto" href="/compras/">
                    <button type="button" class="btn btn-outline-primary">Cancelar Compras</button>
                </a>
            </div>
        </div>
    {% else %}
        <div>No tienes tickets comprados.</div>
    {% endif %}
{% endblock content %}
