body {
    padding: 2rem;
    font-family: sans-serif;
    }
    .register-form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    }
    .register-form{
    display: flex;
    flex-direction: column;
    }
    .submit-button {
    width: 25%;
    }
    .submit-button:hover {
    cursor: pointer;
    }
    .general {
    width: 50%;
    padding-bottom: .8rem;
    margin-bottom: .5rem;
    }
    .nav-container {
    display: flex;
    flex-direction: row;
    background-color: red;
    }
    