<html>
<head>
 <title>Reserva de Canchas </title>
</head>
<body>
    <!--NavBar-->
    {% include 'navbar.html' %}
    <!-- Main Container-->
 <div>
 <h1>Reserva de Canchas </h1>
 <p>En nuestra plaza contamos con varios tipos de
canchas de tenis, invita a tus familiares y amigos para pasar
un momento ameno y seguro a un precio razonable. </p>
 <img
src="https://uh.gsstatic.es/sfAttachPlugin/1976269.jpg"
alt="cancha" width="25%">
 <div>
<a href="/reserva/canchas">Ver canchas</a>
</div>
 </div>
</body>
</html>